@page "/csvtochart"
<PageTitle>CSV to chart</PageTitle>
@using ApexCharts;
@using PortfolioBlazorWasm.Models.UkBankPa;

<MudPaper Class="pa-4">
    <MudText Typo="Typo.h4" Align="MudBlazor.Align.Center">CSV to chart</MudText>
    <MudDivider DividerType="DividerType.Middle" Class="my-2"/>
    <MudText Typo="Typo.h6" Align="MudBlazor.Align.Center"><u>Bank Interest Rates UK</u> (1975 - 2023)</MudText>
    <div class="tabs mud-elevation-1">
        @if (_bankRates is null)
        {
            <MudProgressLinear Color="MudBlazor.Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else
        {
            <input type="radio" name="bankratetabs" id="bankratetable" checked="checked">
            <label for="bankratetable" class="mud-ripple">Table</label>
            <div class="tab pa-2">
                <MudDataGrid T="BankRate" Items="_bankRates" Filterable="true" FilterMode="_filterMode">
                    <Columns>
                        <PropertyColumn Property="x => x!.DateChanged" Title="DateChanged" Filterable="false" />
                        <PropertyColumn Property="x => x!.Rate" />
                        <PropertyColumn Property="x => x!.PercentageChanged" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="BankRate" PageSizeOptions=@(new int[] {5, 10, 20}) />
                    </PagerContent>
                </MudDataGrid>
            </div>
            <input type="radio" name="bankratetabs" id="bankratechart">
            <label for="bankratechart" class="mud-ripple">Chart</label>
            <div class="tab pa-2">
                @if (_bankRates is null)
                {
                    <MudProgressLinear Color="MudBlazor.Color.Secondary" Indeterminate="true" Class="my-7" />
                }
                else
                {
                    <MudPaper Class="pa-2" Style="background-color:whitesmoke;color:black;">
                        <ApexChart TItem="BankRate"
                           Title="Percentage Change (%)"
                           Options="_bankRatePercentOptions"
                           Height="300"
                           XAxisType="XAxisType.Datetime">

                            <ApexPointTooltip>
                                <div class="tooltip-container pa-1">
                                    <p class="tooltip-date">@(((DateOnly)context.DataPoint.X).ToString("dd MMM yyyy"))</p>
                                    <ul class="mb-2">
                                        <li>
                                            <p class="tooltip-description">Percentage changed</p>
                                        </li>
                                        <li>
                                            <div class="tooltip-value">
                                                @{
                                                    var percentageValue = context.DataPoint.Items.Sum(e => e.PercentageChanged);
                                                }
                                                <p class="@(percentageValue < 0 ? "red-text" : "green-text")">@($"{percentageValue}%")</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p class="tooltip-description">Interest Rate</p>
                                        </li>
                                        <li>
                                            <div class="tooltip-value">
                                                @{
                                                    var rateValue = context.DataPoint.Items.Sum(e => e.Rate);
                                                }
                                                <p class="@(rateValue < 0 ? "red-text" : "green-text")">@($"{rateValue}%")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ApexPointTooltip>

                            <ChildContent>
                                <ApexPointSeries TItem="BankRate"
                                         Items="_bankRates"
                                         Name="Percetange Change"
                                         SeriesType="SeriesType.Line"
                                         XValue="@(e => e.DateChanged)"
                                         YAggregate="@(e => e.Sum(e => e.PercentageChanged))"
                                         OrderBy="e=>e.X"
                                                                  ShowDataLabels />
                            </ChildContent>
                        </ApexChart>

                        <ApexChart TItem="BankRate"
                           Title="Interest Rate (%)"
                           Options="_bankRateOptions"
                           Height="150"
                           XAxisType="XAxisType.Datetime">

                            <ApexPointSeries TItem="BankRate"
                                     Items="_bankRates"
                                     Name="Rate"
                                     SeriesType="SeriesType.Bar"
                                     XValue="@(e => e.DateChanged)"
                                     YAggregate="@(e => e.Sum(e => (decimal)e.Rate))"
                                     OrderBy="e=>e.X"
                                     Stroke="@(new SeriesStroke { Width = 2, Color="#E51C15"})" />
                        </ApexChart>
                    </MudPaper>
                }
            </div>
        }
    </div>

    <br />
    <MudText Typo="Typo.h6" Align="MudBlazor.Align.Center"><u>Personal Allowance Amounts UK</u> (1975 - 2023)</MudText>
    <div class="tabs mud-elevation-1">
        @if (_personalAllowances is null)
        {
            <MudProgressLinear Color="MudBlazor.Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else
        {
            <input type="radio" name="personalallowtabs" id="personalallowtable" checked="checked" class="">
            <label for="personalallowtable" class="mud-ripple">Table</label>
            <div class="tab pa-2">
                <MudDataGrid T="PersonalAllowance" Items="@_personalAllowances" Filterable="true" FilterMode="_filterMode" Chang>
                    <Columns>
                        <PropertyColumn Property="x => x!.ToDate" Filterable="false" />
                        <PropertyColumn Property="x => x!.AllowanceAmountGBP" Format="@("C")" Culture="System.Globalization.CultureInfo.CurrentCulture" />
                        <PropertyColumn Property="x => x!.PercentageChanged" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager T="PersonalAllowance" PageSizeOptions=@(new int[] {5, 10, 20}) />
                    </PagerContent>
                </MudDataGrid>
            </div>
            <input type="radio" name="personalallowtabs" id="personalallowchart">
            <label for="personalallowchart" class="mud-ripple">Chart</label>
            <div class="tab pa-2">
                @if (_personalAllowances is null)
                {
                    <MudProgressLinear Color="MudBlazor.Color.Secondary" Indeterminate="true" Class="my-7" />
                }
                else
                {
                    <MudPaper Class="pa-2" Style="background-color:whitesmoke;color:black;">
                        <ApexChart TItem="PersonalAllowance"
                           Title="Percentage Change (%)"
                           Options="_personalAllowPercentOptions"
                           Height="300"
                           XAxisType="XAxisType.Datetime">
                            <ApexPointTooltip>
                                <div class="tooltip-container pa-1">
                                    <p class="tooltip-date">@(((DateOnly)context.DataPoint.X).ToString("dd MMM yyyy"))</p>
                                    <ul class="mb-2">
                                        <li>
                                            <p class="tooltip-description">Percentage changed</p>
                                        </li>
                                        <li>
                                            <div class="tooltip-value">
                                                @{
                                                    var percentValue = context.DataPoint.Items.Sum(e => e.PercentageChanged);
                                                }
                                                <p class="@(percentValue < 0 ? "red-text" : "green-text")">@($"{percentValue}%")</p>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul>
                                        <li>
                                            <p class="tooltip-description">Allowance Amount</p>
                                        </li>
                                        <li>
                                            <div class="tooltip-value">
                                                <p class="green-text">@($"{context.DataPoint.Items.Sum(e => e.AllowanceAmountGBP).ToString("C", System.Globalization.CultureInfo.CurrentCulture)}")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ApexPointTooltip>

                            <ChildContent>
                                <ApexPointSeries TItem="PersonalAllowance"
                                         Items="_personalAllowances"
                                         Name="Percetange Change"
                                         SeriesType="SeriesType.Line"
                                         XValue="@(e => e.ToDate)"
                                         YAggregate="@(e => e.Sum(e => e.PercentageChanged))"
                                         OrderBy="e=>e.X" ShowDataLabels />
                            </ChildContent>
                        </ApexChart>

                        <ApexChart TItem="PersonalAllowance"
                           Title="Allowance Amount (£ GBP)"
                           Options="_personalAllowAmountOptions"
                           Height="150"
                           XAxisType="XAxisType.Datetime">

                            <ApexPointSeries TItem="PersonalAllowance"
                                     Items="_personalAllowances"
                                     Name="Allowance Amount"
                                     SeriesType="SeriesType.Bar"
                                     XValue="@(e => e.ToDate)"
                                     YAggregate="@(e => e.Sum(e => e.AllowanceAmountGBP))"
                                     OrderBy="e=>e.X"
                                     Stroke="@(new SeriesStroke { Width = 2, Color="#E51C15"})" />
                        </ApexChart>
                    </MudPaper>
                }
            </div>
        }
    </div>
</MudPaper>